/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    tab-size: 2;
}

body {
    background: #1b1e20;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

#main-frame {
    background: #32353a;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left, #right {
    width: 13%;
    height: 100%;

}



#center {
    width: 87%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#center-top-bar {
    background-color: rgb(55, 58, 65);
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;

}

.channel-name {
    color: white;
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-size: 1vw;
    background-color: #61667036;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 80%;
    padding-left: 1%;
    padding-right: 1%;
    transition: background-color 250ms;
    cursor: pointer;
}

.channel-name:first-child {
    background-color: #32353a;
    margin-left: 1%;
}

.channel-name.unfocused:hover {
    cursor: pointer;
}

.channel-icon {
    font-size: 1.5vw;
    margin-right: 6%;
    color: #707781;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
}

.close-channel {
    color: red;
    margin-right: 5%;
    font-size: 1vw;
    font-weight: bold;
}

#message-box {
    background: #3a3e44;
    color: white;
    font-family: 'Montserrat';
    width: 95%;
    max-height: 60%;
    height: auto;
    position: absolute;
    bottom: 3%;
    border: none;
    outline: none;
    font-size: 0.75vw;
    border-radius: 10px;
    padding-left: 1%;
    transition: background-color 250ms;
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: pre;
    padding-top: 1%;
    padding-bottom: 1%;
}

#message-box:focus {
    background-color: #484f55;
}

#message-box:hover {
    cursor: text;
}

#upload-file {
    z-index: 1;
    position: absolute;
    right: 99%;
    border: none;
    outline: none;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    font-size: 1.1vw;
    background: #a9aeb6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    cursor: pointer;
}

#upload-file:hover {
    background: #c2c8d1;
}

#messages {
    height: 85%;
    width: 100%;
    margin-top: 1%;
    overflow: scroll;
}



.message {
    height: auto;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 10px;
    padding-left: 2%;
    margin-top: 0.5vh;
}

.message:hover {
    background-color: #2f3236;
}

.message .pfp {
    border-radius: 50%;
    height: 2.5vw;
    width: 2.5vw;
}

.message .pfp:hover {
    cursor: pointer;
}

.message .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
}

.message .txt .username {
    color: white;
    font-size: 0.9vw;
    margin-left: 1%;
    margin-bottom: 0.25%;
}

.message .txt .username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message .txt .msg {
    color: #dddddd;
    font-size: 0.75vw;
    margin-left: 1%;
    display: block;
    white-space: pre;
    height: auto;
    overflow: hidden;
}

.message .txt .date {
    color: rgb(143, 143, 143);
    font-size: 0.6vw;
    margin-left: 0.5%;
}

.message .txt .top {
    display: flex;
    align-items: center;
}



#left-top-bar {
    background-color: rgb(55, 58, 65);
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#left {
    position: relative;
}

#dms {
    color: white;
    list-style-type: none;
    width: 100%;
    height: auto;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dm-template, .user {
    width: 90%;
    height: 5vh;
    border-radius: 10px;
    transition: background-color 250ms;
    position: relative;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm-template:first-child {
    background: #3a3e44;
}

.dm-template .txt, .user .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    color: #e7e7e7;
}

.dm-template .status, .user .status {
    font-size: 0.75vw;
    margin-left: 5%;
}

.dm-template .username, .user .username {
    font-size: 1vw;
    margin-left: 5%;
}

.dm-template .pfp, .user .pfp {
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    margin-left: 5%;
}

#create-dm {
    margin-left: 22%;
    font-size: 1.5vw;
    color: #b6b6b6;
    font-weight: normal;
}

.section-title {
    margin-top: 1vh;
    margin-bottom: 0;
    text-emphasis: bold;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbbbbb;
    font-weight: bold;
}

.alert {
    background-color: rgb(112, 112, 112);
    border-radius: 50%;
    width: 1.25vw;
    height: 1.25vw;
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

#server-name {
    color: white;
    font-size: 0.8vw;
    font-weight: 600;
    margin-right: 50%;
}

.category-title {
    margin-left: 5%;
    font-weight: 600;
    font-size: 0.65vw;
    color: rgb(200, 200, 200);
}

.category-channels {
    list-style-type: none;
    color: rgb(200, 200, 200);
    font-size: 0.75vw;
    padding-left: 5%;
}

.category-channel {
    display: flex;
    align-items: center;
    margin-right: 5%;
    border-radius: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: background-color 250ms;
}

.category-channel:hover {
    background-color: rgb(47, 50, 54);
}

.category-channel:first-child {
    background-color: rgb(53, 56, 61);
}

.category-icon {
    display: flex;
    font-size: 1.25vw;
    margin-right: 5%;
    color: rgb(112, 119, 129);
}



#right {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(55, 58, 65)
}

#right-top-bar {
    background-color: rgb(55, 58, 65);
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#users {
    overflow-y: auto;
    overflow-x: hidden;
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

::placeholder {
    color:#7a838d;
}

#users-online {
    color: #969696;
    font-weight: bold;
    margin-left: 10%;
    font-size: 0.75vw;
    width: 100%;
    margin-top: 3%;
    z-index: 1;
}

.user {
    height: 4vh;
    width: 100%;
    margin-top: 3%;;
}

.user .username {
    font-size: 0.85vw;
}

.user .status {
    font-size: 0.65vw;
    color: #a7a7a7;
}

#dm-search {
    width: 76%;
    height: 50%;
    background-color: #181b1d;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 3%;
    color: white;
    transition: background-color 250ms;
    font-size: 0.75vw;
}

#dm-search:focus {
    background-color: #222629;
}

#settings {
    width: 100%;
    height: 7%;
    background-color: rgb(41, 43, 48);
    display: flex;
    align-items: center;
}

#settings-user {
    margin: 0;
}

#settings-user .txt .status {
    background: none;
    border: none;
    outline: none;
    transition: filter 500ms;
}

#settings-user .pfp {
    transition: filter 500ms;
}

#settings-user .pfp:hover {
    cursor: pointer;
    filter: brightness(85%);
}

#settings-user .txt .status:focus::placeholder {
    color: transparent;
}

#settings-user .txt .status:hover {
    filter: brightness(125%);
}

#message-context-menu {
    background:rgb(20, 20, 20);
    width: 10vw;
    height: auto;
    position: absolute;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.context-button {
    background: none;
    width: 90%;
    height: 4vh;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 5%;
}

.context-button:first-child {
    margin-top: 5%;
}

#delete-message {
    color: rgb(225, 0, 0);
}

#delete-message:hover {
    background: rgb(209, 62, 62);
    color: white;
    cursor: pointer;
}

#edit-message {
    color: rgb(200, 200, 200);
}

#edit-message:hover {
    background: #505050;
}

::-webkit-scrollbar {
    background: none;
    width: 0.4vw;
    height: 0.4vw;
}

::-webkit-scrollbar-thumb {
    background-color: #585e66;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: none;
} */

.context-button {
    background: rgb(209, 62, 62);
    width: 90%;
    height: 4vh;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-bottom: 5%;
}