:root {
    --test-var: #\0041\0041\0041;
}

@media only screen and (max-width: 600px) {
    #test {
        background: #555;
        color: var(--test-var);
    }

    #test2 {
        color: green;
    }
}

.test {
    --bruh: #222;
}

div > a {
    color: green;
}

/* .abc + .def > #ghi {
    color: red;
} */